{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main class="wrapper d-flex flex-column align-items-center">
		<div class="jobOffer card w-75 my-4">
			<div class="card-body">
				<h5 class="card-title">Offre d'emploi</h5>
				<p class="card-text">
					<small class="text-body-secondary">Type contrat - département - ville</small>
				</p>
				<p class="card-text">Description</p>
				<div class="d-flex justify-content-between">
					<p class="card-text">
						<small class="text-body-secondary">Postée le</small>
					</p>
					<button type="button" class="btn btn-primary">Voir l'offre</button>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
